<div class="lista">
  <div  class="header-lista">
  <h1 *ngIf="mostrar_lista_verificada" class="mat-headline-1">Verificados</h1>
  <h1 *ngIf="!mostrar_lista_verificada" class="mat-headline-1">Por verificar</h1>
    <span class="spacer"></span>
  <button mat-raised-button aria-label="Confirmar" (click)="updatePagedData(0,pageSize)">Confirmar</button>
  </div>
  <mat-card class="elemento_lista" appearance="outlined" *ngFor="let item of pagedData">

    <img [src]="item.imageUrl" alt="imagen elemento">
    <mat-card-actions>
      <mat-checkbox [checked]="item.estado === 'verificado'"
                    [indeterminate]="item.estado === 'indeterminado'"
                    (change)="onCheckboxChange(item)"
      ></mat-checkbox>
      <button mat-icon-button aria-label="Detalles" (click)="abrirDetalles(item)">
        <mat-icon>description</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-header class="title">
      <mat-card-title >{{ item.title }}</mat-card-title>
    </mat-card-header>
    <span class="spacer"></span>
    <mat-card-actions>
      <button mat-icon-button aria-label="Eliminar" (click)="eliminarElemento(item)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>


  </mat-card>
  <mat-paginator [length]="obtenerElementos().length"
                 [pageSize]="pageSize"
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>
