.elemento_lista {
  display: flex;
  flex-direction: row;
  justify-content: start; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  padding: 16px;

  width: 50vw;
  height: 7vh;
  /*overflow: hidden;*/

  border: 1px solid var(--mat-sys-surface-container);
}

mat-card-title {
  font-size: 2vh;
}
.lista{
  border: 5px solid var(--mat-sys-surface-bright);
  padding: 10px;
}


.lista {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Espacio entre las tarjetas */
}

img{
  max-height: 100px; /* Ajusta este valor según tus necesidades */
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  width: auto; /* Mantiene la proporción de la imagen */
  height: 5vh; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Cubre el espacio disponible sin distorsionar la imagen */
}

mat-card-actions {
  display: flex;
  gap: 8px;
}

.title {
  margin-bottom: 12px;
  overflow: hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis; /* Muestra "..." cuando el texto no cabe */
  white-space: nowrap;
}

.header-lista {
  display: flex;
  align-items: center;
  gap: 15px;
  min-width: 50vw;
}
